:root {
    --primary-text-color: #212121;
    --acent-text-color: #2196F3;
    --secondary-white-color: #FFFFFF;
    --primary-weight-font: 400;

}

body {
    color: #757575;
    font-family: 'Roboto';        
        --primary-weight-font: 400;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        
}

/* убирает подчеркивание */
a {
    text-decoration: none;
    outline: none;
    color: #757575;
    /* color: #757575; */
}

.studia{
    color: var(--acent-text-color)
}

/* .span{
    color:#757575;
} */

.link{
    font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
}

.link-style {
    text-decoration: none;
    outline: none;
}


/* убирает все пункти  */
ul {
    list-style: none;
}

/* если нужно оставить неокотовие с пунктами
 .list {
    list-style: none;
       } */


/* heder */
.logo {
    color: var(--secondary-white-color);
    font-family: 'Raleway';
    color: #000000;

}

.logo-web {
    color: var(--acent-text-color);
}

.site-naw {
    color: var(--primary-text-color);
}

.link:hover,
.link:focus {
    color: var(--acent-text-color);
}

/* main */
/* блок герой */
.blok {
    background-color: #2F303A;
    width: 1600px;
        height: 600px;
       
}

.hero {


    color: #FFFFFF;
    text-align: center;

        font-weight: 900;
        font-size: 44px;
        line-height: 1.3;
        letter-spacing: 0.06em;

        padding-top: auto;
}

.button{
    font-family: 'Roboto';
    background-color: var(--acent-text-color);
    color: var(--secondary-white-color);
    border:none;

    width: 200px;
    height: 50px;
}
/* особености */
/* класи всем секциям */
.section-title {
    color: var(--primary-text-color);
}

.title {
    color: var(--primary-text-color);
}

/* footer */
.footer {
    background-color: var(--primary-text-color);
}

.link-style {
    color: #FFFFFF 60;
}