:root {
    --primary-text-color: #212121;
    --acent-text-color: #2196F3;
    --secondary-white-color: #FFFFFF;
    --primary-weight-font: 400
    --secendary-weight-font: 700


}

body {
    color: #757575;
    font-family: 'Roboto', Helvetica;        
        font-weight: var(--primary-weight-font);
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        
}

/* убирает подчеркивание */
a {
    text-decoration: none;
    outline: none;
    color: #757575;
    /* color: #757575; */
}

h2 {
    margin-top: 0;
}

.logo{
    font-weight: 700;
        font-size: 26px;
        line-height: 31px;
}

.studia{
    color: var(--acent-text-color)
}

/* .span{
    color:#757575;
} */

.link{
    font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
}

.link-style {
    text-decoration: none;
    outline: none;
}


/* убирает все пункти  */
ul {
    list-style: none;
}

/* если нужно оставить неокотовие с пунктами
 .list {
    list-style: none;
       } */


/* heder */
.logo {
    color: var(--secondary-white-color);
    font-family: 'Raleway',  sans-serif;
    color: #000000;

}

.logo-web {
    color: var(--acent-text-color);
    font-weight: 700;
}

.site-naw {
    color: var(--primary-text-color);
}

.link:hover,
.link:focus {
    color: var(--acent-text-color);
}

/* main */
/* блок герой */
.blok {
    background-color: #2F303A;
    width: 1600px;
        height: 600px;
       
}

.hero {


    color: #FFFFFF;
    text-align: center;

        font-weight: 900;
        font-size: 44px;
        line-height: 1.3;
        letter-spacing: 0.06em;
}

.button{
    font-family: 'Roboto';
    background-color: var(--acent-text-color);
    color: var(--secondary-white-color);
    border:none;

    width: 200px;
    height: 50px;
}


.title {
    font-weight: 700;
        font-size: 14px;
        line-height: 1.7;
}

/* блок команда */
.title-team{
    font-weight: 500;
        font-size: 16px;
        line-height: 1.2;
        color: var(--primary-text-color);
}
.text-team {
    font-size: 16px;
        line-height: 1.2;
}

.section-style{
    background: #E5E5E5;
}
/* особености */
/* класи всем секциям */
.section-title {
    color: var(--primary-text-color);
    font-weight: 700;
        font-size: 36px;
        line-height: 1.2;
}

.team{
  background: #F5F4FA;;
}

.title {
    color: var(--primary-text-color);
}

/* footer */
.footer {
    background-color:#2F303A;
    font-style: normal;
}

.studio {
    color: var(--secondary-white-color);
}



.address {
font-size: normal;

}
a[href="https://goo.gl/maps/727tqZzBJjCVUAbq7"] {   
    color: #FFFFFF;
    font-style: normal;
}

address li {
    font-style: normal;
    color: #FFFFFF 60%;
}

/* portfolio */